asgiref==3.5.2
asn1crypto==1.5.1
Django==4.1.2
django-bootstrap-datepicker-plus==4.0.0
gunicorn==20.1.0
numpy==1.23.4
oscrypto==1.3.0
Pillow==9.2.0
pisa==3.0.33
pycparser==2.21
python-bidi==0.4.2
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
reportlab==3.6.11
six==1.16.0
sqlparse==0.4.3
tinycss2==1.1.1
tzdata==2022.4
uritools==4.0.0
urllib3==1.26.12
webencodings==0.5.1
